/* -- UNIVERSAL CLASSES & ELEMENTS -- */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    background-color: #F0F8FF;
}

.content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 25px;
    background-color: #DCDCDC;
    border: 5px solid #A9A9A9;
    border-radius: 5px;
    gap: 25px;
}

.content-box a {
    color: #0000EE;
    text-decoration: none;
    transition: color 0.3s;
}

.content-box a:visited {
    color: #551A8B;
}

.content-box a:hover {
    color: #FF0000;
    text-decoration: underline;
}

.content-title {
    font-weight: bold;
    font-size: 28px;
}

.sources {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    line-height: 18px;
}

img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    display: block;
}

p {
    font-size: 20px;
    color: #444444;
    line-height: 28px;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 48px;
    max-width: 60%;
    margin: 50px auto;
}

ul {
    margin: 0;
    font-size: 20px;
    text-align: left;
    list-style-type: circle;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #444444;
}

summary {
    cursor: pointer;
}

/* -- NAVBAR SPECIFIC -- */

nav {
    display: flex;
    align-items: center;
    background-color: #333333;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
    z-index: +999 !important;
}

.nav-tab {
    display: inline-flex;
    flex-grow: 1;
    text-align: left;
}

nav > .nav-tab:nth-of-type(1) {
    justify-content: flex-start;
}

nav > .nav-tab:nth-of-type(2) {
    justify-content: flex-end;
    gap: 25px;
}

nav > .nav-tab:nth-of-type(1) a {
    font-size: 26px;
    padding: 6px 12px;
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
}

.nav-tab a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 10px 12px;
    border-radius: 10px;
}

.nav-tab a:hover:not(.active) {
    background-color: #555555;
}

.nav-tab a.active {
    background-color: #DCDCDC;
    color: #333333;
}

/* -- CASES PAGE SPECIFIC -- */

.cases-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.case-box {
    gap: 25px;
    text-align: center;
    display: flex;
    width: 25%;
    padding: 25px;
    flex-direction: column;
    background-color: #DCDCDC;
    border: 5px solid #A9A9A9;
    border-radius: 5px;
}

.button-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.read-more-btn {
    background-color: green;
    color: white;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.read-more-btn:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

/* -- RESOURCE PAGE SPECIFIC -- */

.resource-description {
    font-style: italic;
    width: 60%;
}

.resource-list {
    padding-top: 20px;
}

/* -- MEDIA QUERIES FOR PORTRAIT -- */

@media (orientation: portrait) {

    .content-container {
        gap: 40px;
    }

    .resources-container {
        gap: 20px;
    }

    .content-box {
        width: 80%;
    }

    .content-title {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    ul {
        font-size: 18px; 
        margin-left: 0px;
    }

    nav {
        flex-direction: column;
    }

    nav > .nav-tab {
        justify-content: center; 
        margin-bottom: 10px;
    }

    nav > .nav-tab:nth-of-type(2) {
        gap: 20px;
    }

    .cases-container {
        flex-direction: column; 
        align-items: center;
        gap: 40px;
    }

    .case-box {
        width: 80%;
    }

    .button-container {
        flex-direction: column;
    }

    .read-more-btn:hover {
        transform: scale(1.025);
}