* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #333;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.75); /* PROF NOTE: Subtle drop-shadow to add some visual 'polish' in keeping with the tone of your project */
}

.nav-tab {
    display: inline-flex;
    flex-grow: 1;
    text-align: left;
}

nav > .nav-tab:nth-of-type(1) {
    justify-content: flex-start;
}

nav > .nav-tab:nth-of-type(2) {
    justify-content: flex-end;
    gap: 25px;
}

nav > .nav-tab:nth-of-type(1) a {
    font-size: 26px;
    padding: 6px 12px;
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold
}

.nav-tab a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 10px 12px;
    border-radius: 10px;
}

.nav-tab a:hover:not(.active) {
    background-color: #555;
}

.nav-tab a.active {
    background-color: #DCDCDC;
    color: #333;
}   

.main-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.mission-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
}

.mission-statement {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-left: auto;
}

.main-container img {
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    display: block;
}

.statistics {
    font-size: 18px;
    text-align: left;
    list-style-type: circle;
}

.statistics li {
    margin-bottom: 10px;
}

.sources {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

/* -- UNIVERSAL -- */

h1 {
    text-align: center;
    font-size: 48px;
}

.content-box {
    background-color: #DCDCDC;
    border: 5px solid #ccc;
    border-radius: 5px;
}

.sources a,
.resource-list a {
    color: #0000EE;
    text-decoration: none;
    transition: color 0.3s;
}

.sources a:visited,
.resource-list a:visited  {
    color: #551A8B;
}

.sources a:hover,
.resource-list a:hover  {
    color: #FF0000;
    text-decoration: underline;
}


/* -- RESOURCE PAGE SPECIFIC -- */

.resources-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.resource-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    padding: 20px;
}

.resource-title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

ul.resource-list {
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
    list-style-type: circle;
}

ul.resource-list li {
    margin-bottom: 5px;
}

/* -- CASES PAGE SPECIFIC -- */

.cases-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.case-box {
    text-align: center;
    display: flex;
    max-width: 25vw;
    padding: 20px;
    flex-direction: column;
}

.case-box img {
    display: block;
    margin-inline: 20px;
    border-radius: 5px;
    object-fit: contain;
}

.case-box p {
    font-size: 20px;
    line-height: 24px;
    margin-inline: 20px;
}

.case-title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.read-more-btn {
    background-color: green;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.read-more-btn:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}
